
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMdb200.so
Description={{ __iimam_odbc.description | default('DataDirect DB2 Wire Protocol Driver') }}
AddStringToCreateTable={{ __iimam_odbc.AddStringToCreateTable | default('') }}
AlternateID={{ __iimam_odbc.AlternateID | default('') }}
Collection={{ __iimam_odbc.Collection | default('') }}
CipherList={{ __iimam_odbc.CipherList | default('DEFAULT:!RC4') }}
Database={{ __iimam_odbc.database }}
DynamicSections={{ __iimam_odbc.DynamicSections | default('100') }}
GrantAuthid={{ __iimam_odbc.GrantAuthid | default('PUBLIC') }}
GrantExecute={{ __iimam_odbc.GrantExecute | default('1') }}
IpAddress={{ __iimam_odbc.host | upper }}
IsolationLevel={{ __iimam_odbc.IsolationLevel | default('CURSOR_STABILITY') }}
Location={{ __iimam_odbc.Location | default('') }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
Password={{ __iimam_odbc.Password | default('') }}
Package={{ __iimam_odbc.Package | default('') }}
PackageOwner={{ __iimam_odbc.PackageOwner | default('') }}
TcpPort={{ __iimam_odbc.port | default('50000') }}
WithHold={{ __iimam_odbc.WithHold | default('1') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
