
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMimpala00.so
Description={{ __iimam_odbc.description | default('DataDirect Impala Wire Protocol Driver') }}
ArraySize={{ __iimam_odbc.ArraySize | default('16384') }}
Database={{ __iimam_odbc.database }}
DefaultLongDataBuffLen={{ __iimam_odbc.DefaultLongDataBuffLen | default('1024') }}
DefaultOrderByLimit={{ __iimam_odbc.DefaultOrderByLimit | default('-1') }}
EnableDescribeParam={{ __iimam_odbc.EnableDescribeParam | default('0') }}
HostName={{ __iimam_odbc.host }}
LoginTimeout={{ __iimam_odbc.LoginTimeout | default('30') }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
MaxVarcharSize={{ __iimam_odbc.MaxVarcharSize | default('') }}
Password={{ __iimam_odbc.Password | default('') }}
PortNumber={{ __iimam_odbc.PortNumber | default('10000') }}
RemoveColumnQualifiers={{ __iimam_odbc.RemoveColumnQualifiers | default('0') }}
StringDescribeType={{ __iimam_odbc.StringDescribeType | default('12') }}
TransactionMode={{ __iimam_odbc.TransactionMode | default('0') }}
UseCurrentSchema={{ __iimam_odbc.UseCurrentSchema | default('0') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
