
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMifcl00.so
Description={{ __iimam_odbc.description | default('DataDirect Informix Wire Protocol driver') }}
Database={{ __iimam_odbc.database }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
Password={{ __iimam_odbc.Password | default('') }}
HostName={{ __iimam_odbc.host }}
PortNumber={{ __iimam_odbc.port | default('1500') }}
ServerName={{ __iimam_odbc.ServerName | default('informixserver') }}
CancelDetectInterval={{ __iimam_odbc.CancelDetectInterval | default('0') }}
TrimBlankFromIndexName={{ __iimam_odbc.TrimBlankFromIndexName | default('1') }}
ApplicationUsingThreads={{ __iimam_odbc.ApplicationUsingThreads | default('1') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
