
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMmysql00.so
Description={{ __iimam_odbc.description | default('DataDirect 7.0 MySQL Wire Protocol') }}
AlternateServers={{ __iimam_odbc.AlternateServers | default('') }}
ApplicationUsingThreads={{ __iimam_odbc.ApplicationUsingThreads | default('1') }}
ConnectionReset={{ __iimam_odbc.ConnectionReset | default('0') }}
ConnectionRetryCount={{ __iimam_odbc.ConnectionRetryCount | default('0') }}
ConnectionRetryDelay={{ __iimam_odbc.ConnectionRetryDelay | default('3') }}
CipherList={{ __iimam_odbc.CipherList | default('DEFAULT:!RC4') }}
Database={{ __iimam_odbc.database }}
DefaultLongDataBuffLen={{ __iimam_odbc.DefaultLongDataBuffLen | default('1024') }}
EnableDescribeParam={{ __iimam_odbc.EnableDescribeParam | default('0') }}
EncryptionMethod={{ __iimam_odbc.EncryptionMethod | default('0') }}
FailoverGranularity={{ __iimam_odbc.FailoverGranularity | default('0') }}
FailoverMode={{ __iimam_odbc.FailoverMode | default('0') }}
FailoverPreconnect={{ __iimam_odbc.FailoverPreconnect | default('0') }}
HostName={{ __iimam_odbc.host }}
HostNameInCertificate={{ __iimam_odbc.HostNameInCertificate | default('') }}
InteractiveClient={{ __iimam_odbc.InteractiveClient | default('0') }}
KeyPassword={{ __iimam_odbc.KeyPassword | default('') }}
KeyStore={{ __iimam_odbc.KeyStore | default('') }}
KeyStorePassword={{ __iimam_odbc.KeyStorePassword | default('') }}
LoadBalanceTimeout={{ __iimam_odbc.LoadBalanceTimeout | default('0') }}
LoadBalancing={{ __iimam_odbc.LoadBalancing | default('0') }}
LoginTimeout={{ __iimam_odbc.LoginTimeout | default('15') }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
Password={{ __iimam_odbc.Password | default('') }}
MaxPoolSize={{ __iimam_odbc.MaxPoolSize | default('100') }}
MinPoolSize={{ __iimam_odbc.MinPoolSize | default('0') }}
Pooling={{ __iimam_odbc.Pooling | default('0') }}
PortNumber={{ __iimam_odbc.port | default('3306') }}
QueryTimeout={{ __iimam_odbc.QueryTimeout | default('0') }}
ReportCodepageConversionErrors={{ __iimam_odbc.ReportCodepageConversionErrors | default('0') }}
TreatBinaryAsChar={{ __iimam_odbc.TreatBinaryAsChar | default('0') }}
TrustStore={{ __iimam_odbc.TrustStore | default('') }}
TrustStorePassword={{ __iimam_odbc.TrustStorePassword | default('') }}
ValidateServerCertificate={{ __iimam_odbc.ValidateServerCertificate | default('1') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
