
[{{ item.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMmysql00.so
Description={{ item.description | default('DataDirect 7.0 MySQL Wire Protocol') }}
AlternateServers={{ item.AlternateServers | default('') }}
ApplicationUsingThreads={{ item.ApplicationUsingThreads | default('1') }}
ConnectionReset={{ item.ConnectionReset | default('0') }}
ConnectionRetryCount={{ item.ConnectionRetryCount | default('0') }}
ConnectionRetryDelay={{ item.ConnectionRetryDelay | default('3') }}
CipherList={{ item.CipherList | default('DEFAULT:!RC4') }}
Database={{ item.database }}
DefaultLongDataBuffLen={{ item.DefaultLongDataBuffLen | default('1024') }}
EnableDescribeParam={{ item.EnableDescribeParam | default('0') }}
EncryptionMethod={{ item.EncryptionMethod | default('0') }}
FailoverGranularity={{ item.FailoverGranularity | default('0') }}
FailoverMode={{ item.FailoverMode | default('0') }}
FailoverPreconnect={{ item.FailoverPreconnect | default('0') }}
HostName={{ item.host }}
HostNameInCertificate={{ item.HostNameInCertificate | default('') }}
InteractiveClient={{ item.InteractiveClient | default('0') }}
KeyPassword={{ item.KeyPassword | default('') }}
KeyStore={{ item.KeyStore | default('') }}
KeyStorePassword={{ item.KeyStorePassword | default('') }}
LoadBalanceTimeout={{ item.LoadBalanceTimeout | default('0') }}
LoadBalancing={{ item.LoadBalancing | default('0') }}
LoginTimeout={{ item.LoginTimeout | default('15') }}
LogonID={{ item.LogonID | default('') }}
Password={{ item.Password | default('') }}
MaxPoolSize={{ item.MaxPoolSize | default('100') }}
MinPoolSize={{ item.MinPoolSize | default('0') }}
Pooling={{ item.Pooling | default('0') }}
PortNumber={{ item.port | default('3306') }}
QueryTimeout={{ item.QueryTimeout | default('0') }}
ReportCodepageConversionErrors={{ item.ReportCodepageConversionErrors | default('0') }}
TreatBinaryAsChar={{ item.TreatBinaryAsChar | default('0') }}
TrustStore={{ item.TrustStore | default('') }}
TrustStorePassword={{ item.TrustStorePassword | default('') }}
ValidateServerCertificate={{ item.ValidateServerCertificate | default('1') }}
