
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMor800.so
Description={{ __iimam_odbc.description | default('DataDirect Oracle driver') }}
ApplicationUsingThreads={{ __iimam_odbc.ApplicationUsingThreads | default('1') }}
ArraySize={{ __iimam_odbc.ArraySize | default('60000') }}
CatalogIncludesSynonyms={{ __iimam_odbc.CatalogIncludesSynonyms | default('1') }}
CatalogOptions={{ __iimam_odbc.CatalogOptions | default('0') }}
CipherList={{ __iimam_odbc.CipherList | default('DEFAULT:!RC4') }}
DefaultLongDataBuffLen={{ __iimam_odbc.DefaultLongDataBuffLen | default('1024') }}
DescribeAtPrepare={{ __iimam_odbc.DescribeAtPrepare | default('0') }}
EnableDescribeParam={{ __iimam_odbc.EnableDescribeParam | default('0') }}
EnableNcharSupport={{ __iimam_odbc.EnableNcharSupport | default('0') }}
EnableScrollableCursors={{ __iimam_odbc.EnableScrollableCursors | default('1') }}
EnableStaticCursorsForLongData={{ __iimam_odbc.EnableStaticCursorsForLongData | default('0') }}
EnableTimestampWithTimeZone={{ __iimam_odbc.EnableTimestampWithTimeZone | default('0') }}
LocalTimeZoneOffset={{ __iimam_odbc.LocalTimeZoneOffset | default('') }}
LockTimeOut={{ __iimam_odbc.LockTimeOut | default('-1') }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
OptimizeLongPerformance={{ __iimam_odbc.OptimizeLongPerformance | default('0') }}
Password={{ __iimam_odbc.Password | default('') }}
ProcedureRetResults={{ __iimam_odbc.ProcedureRetResults | default('0') }}
ServerName={{ __iimam_odbc.host }}
UseCurrentSchema={{ __iimam_odbc.UseCurrentSchema | default('1') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
