
[{{ item.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMpsql00.so
Description={{ item.description | default('DataDirect 7.0 PostgreSQL Wire Protocol') }}
AlternateServers={{ item.AlternateServers | default('') }}
ApplicationUsingThreads={{ item.ApplicationUsingThreads | default('1') }}
ConnectionReset={{ item.ConnectionReset | default('0') }}
ConnectionRetryCount={{ item.ConnectionRetryCount | default('0') }}
ConnectionRetryDelay={{ item.ConnectionRetryDelay | default('3') }}
CipherList={{ item.CipherList | default('DEFAULT:!RC4') }}
Database={{ item.database }}
DefaultLongDataBuffLen={{ item.DefaultLongDataBuffLen | default('2048') }}
EnableDescribeParam={{ item.EnableDescribeParam | default('0') }}
EncryptionMethod={{ item.EncryptionMethod | default('0') }}
ExtendedColumnMetaData={{ item.ExtendedColumnMetaData | default('0') }}
FailoverGranularity={{ item.FailoverGranularity | default('0') }}
FailoverMode={{ item.FailoverMode | default('0') }}
FailoverPreconnect={{ item.FailoverPreconnect | default('0') }}
FetchTSWTZasTimestamp={{ item.FetchTSWTZasTimestamp | default('0') }}
FetchTWFSasTime={{ item.FetchTWFSasTime | default('0') }}
HostName={{ item.host }}
HostNameInCertificate={{ item.HostNameInCertificate | default('') }}
InitializationString={{ item.InitializationString | default('') }}
KeyPassword={{ item.KeyPassword | default('') }}
KeyStore={{ item.KeyStore | default('') }}
KeyStorePassword={{ item.KeyStorePassword | default('') }}
LoadBalanceTimeout={{ item.LoadBalanceTimeout | default('0') }}
LoadBalancing={{ item.LoadBalancing | default('0') }}
LoginTimeout={{ item.LoginTimeout | default('15') }}
LogonID={{ item.LogonID | default('') }}
MaxPoolSize={{ item.MaxPoolSize | default('100') }}
MinPoolSize={{ item.MinPoolSize | default('0') }}
Password={{ item.Password | default('') }}
Pooling={{ item.Pooling | default('0') }}
PortNumber={{ item.port | default('5432') }}
QueryTimeout={{ item.QueryTimeout | default('0') }}
ReportCodepageConversionErrors={{ item.ReportCodepageConversionErrors | default('0') }}
TrustStore={{ item.TrustStore | default('') }}
TrustStorePassword={{ item.TrustStorePassword | default('') }}
ValidateServerCertificate={{ item.ValidateServerCertificate | default('1') }}
XMLDescribeType={{ item.XMLDescribeType | default('-10') }}
{% if item.extras is defined %}
{% for param in item.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
