
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMsfrc00.so
Description={{ __iimam_odbc.description | default('DataDirect Salesforce') }}
ApplicationUsingThreads={{ __iimam_odbc.ApplicationUsingThreads | default('1') }}
ConnectionReset={{ __iimam_odbc.ConnectionReset | default('0') }}
CreateDB={{ __iimam_odbc.CreateDB | default('2') }}
EnableBulkLoad={{ __iimam_odbc.EnableBulkLoad | default('False') }}
Database={{ __iimam_odbc.database }}
ExtendedOptions={{ __iimam_odbc.ExtendedOptions | default('') }}
FetchSize={{ __iimam_odbc.FetchSize | default('100') }}
HostName={{ __iimam_odbc.host }}
JVMArgs={{ __iimam_odbc.JVMArgs | default('-Xmx256m') }}
JVMClasspath={{ __iimam_odbc.JVMClasspath | default('') }}
LoginTimeout={{ __iimam_odbc.LoginTimeout | default('15') }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
MaxPoolSize={{ __iimam_odbc.MaxPoolSize | default('100') }}
MinPoolSize={{ __iimam_odbc.MinPoolSize | default('0') }}
Password={{ __iimam_odbc.Password | default('') }}
Querytimeout={{ __iimam_odbc.Querytimeout | default('0') }}
ReportCodePageConversionErrors={{ __iimam_odbc.ReportCodePageConversionErrors | default('0') }}
ReadOnly={{ __iimam_odbc.ReadOnly | default('0') }}
TransactionMode={{ __iimam_odbc.TransactionMode | default('0') }}
WSTimeout={{ __iimam_odbc.WSTimeout | default('120') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
