
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMmsss00.so
Description={{ __iimam_odbc.description | default('DataDirect SQL Server Wire Protocol driver') }}
Database={{ __iimam_odbc.database }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
Password={{ __iimam_odbc.Password | default('') }}
Address={{ __iimam_odbc.host }},{{ __iimam_odbc.port | default('1433') }}
QuotedId={{ __iimam_odbc.QuotedId | default('No') }}
AnsiNPW={{ __iimam_odbc.AnsiNPW | default('No') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
