
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMsqls00.so
Description={{ __iimam_odbc.description | default('DataDirect SQL Server Native Wire Protocol') }}
AlternateServers={{ __iimam_odbc.AlternateServers | default('') }}
AlwaysReportTriggerResults={{ __iimam_odbc.AlwaysReportTriggerResults | default('0') }}
AnsiNPW={{ __iimam_odbc.AnsiNPW | default('1') }}
ApplicationName={{ __iimam_odbc.ApplicationName | default('') }}
ApplicationUsingThreads={{ __iimam_odbc.ApplicationUsingThreads | default('1') }}
AuthenticationMethod={{ __iimam_odbc.AuthenticationMethod | default('1') }}
BulkBinaryThreshold={{ __iimam_odbc.BulkBinaryThreshold | default('32') }}
BulkCharacterThreshold={{ __iimam_odbc.BulkCharacterThreshold | default('-1') }}
BulkLoadBatchSize={{ __iimam_odbc.BulkLoadBatchSize | default('1024') }}
BulkLoadOptions={{ __iimam_odbc.BulkLoadOptions | default('2') }}
ConnectionReset={{ __iimam_odbc.ConnectionReset | default('0') }}
ConnectionRetryCount={{ __iimam_odbc.ConnectionRetryCount | default('0') }}
ConnectionRetryDelay={{ __iimam_odbc.ConnectionRetryDelay | default('3') }}
CipherList={{ __iimam_odbc.CipherList | default('DEFAULT:!RC4') }}
Database={{ __iimam_odbc.database }}
EnableBulkLoad={{ __iimam_odbc.EnableBulkLoad | default('0') }}
EnableQuotedIdentifiers={{ __iimam_odbc.EnableQuotedIdentifiers | default('0') }}
EncryptionMethod={{ __iimam_odbc.EncryptionMethod | default('0') }}
FailoverGranularity={{ __iimam_odbc.FailoverGranularity | default('0') }}
FailoverMode={{ __iimam_odbc.FailoverMode | default('0') }}
FailoverPreconnect={{ __iimam_odbc.FailoverPreconnect | default('0') }}
FetchTSWTZasTimestamp={{ __iimam_odbc.FetchTSWTZasTimestamp | default('0') }}
FetchTWFSasTime={{ __iimam_odbc.FetchTWFSasTime | default('1') }}
GSSClient={{ __iimam_odbc.GSSClient | default('native') }}
HostName={{ __iimam_odbc.host }}
HostNameInCertificate={{ __iimam_odbc.HostNameInCertificate | default('') }}
InitializationString={{ __iimam_odbc.InitializationString | default('') }}
Language={{ __iimam_odbc.Language | default('') }}
LoadBalanceTimeout={{ __iimam_odbc.LoadBalanceTimeout | default('0') }}
LoadBalancing={{ __iimam_odbc.LoadBalancing | default('0') }}
LoginTimeout={{ __iimam_odbc.LoginTimeout | default('15') }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
MaxPoolSize={{ __iimam_odbc.MaxPoolSize | default('100') }}
MinPoolSize={{ __iimam_odbc.MinPoolSize | default('0') }}
PacketSize={{ __iimam_odbc.PacketSize | default('-1') }}
Password={{ __iimam_odbc.Password | default('') }}
Pooling={{ __iimam_odbc.Pooling | default('0') }}
PortNumber={{ __iimam_odbc.port | default('1433') }}
QueryTimeout={{ __iimam_odbc.QueryTimeout | default('0') }}
ReportCodePageConversionErrors={{ __iimam_odbc.ReportCodePageConversionErrors | default('0') }}
SnapshotSerializable={{ __iimam_odbc.SnapshotSerializable | default('0') }}
TrustStore={{ __iimam_odbc.TrustStore | default('') }}
TrustStorePassword={{ __iimam_odbc.TrustStorePassword | default('') }}
ValidateServerCertificate={{ __iimam_odbc.ValidateServerCertificate | default('1') }}
WorkStationID={{ __iimam_odbc.WorkStationID | default('') }}
XML Describe Type={{ __iimam_odbc.XML_Describe_Type | default('-10') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
