
[{{ item.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMsqls00.so
Description={{ item.description | default('DataDirect SQL Server Native Wire Protocol') }}
AlternateServers={{ item.AlternateServers | default('') }}
AlwaysReportTriggerResults={{ item.AlwaysReportTriggerResults | default('0') }}
AnsiNPW={{ item.AnsiNPW | default('1') }}
ApplicationName={{ item.ApplicationName | default('') }}
ApplicationUsingThreads={{ item.ApplicationUsingThreads | default('1') }}
AuthenticationMethod={{ item.AuthenticationMethod | default('1') }}
BulkBinaryThreshold={{ item.BulkBinaryThreshold | default('32') }}
BulkCharacterThreshold={{ item.BulkCharacterThreshold | default('-1') }}
BulkLoadBatchSize={{ item.BulkLoadBatchSize | default('1024') }}
BulkLoadOptions={{ item.BulkLoadOptions | default('2') }}
ConnectionReset={{ item.ConnectionReset | default('0') }}
ConnectionRetryCount={{ item.ConnectionRetryCount | default('0') }}
ConnectionRetryDelay={{ item.ConnectionRetryDelay | default('3') }}
CipherList={{ item.CipherList | default('DEFAULT:!RC4') }}
Database={{ item.database }}
EnableBulkLoad={{ item.EnableBulkLoad | default('0') }}
EnableQuotedIdentifiers={{ item.EnableQuotedIdentifiers | default('0') }}
EncryptionMethod={{ item.EncryptionMethod | default('0') }}
FailoverGranularity={{ item.FailoverGranularity | default('0') }}
FailoverMode={{ item.FailoverMode | default('0') }}
FailoverPreconnect={{ item.FailoverPreconnect | default('0') }}
FetchTSWTZasTimestamp={{ item.FetchTSWTZasTimestamp | default('0') }}
FetchTWFSasTime={{ item.FetchTWFSasTime | default('1') }}
GSSClient={{ item.GSSClient | default('native') }}
HostName={{ item.host }}
HostNameInCertificate={{ item.HostNameInCertificate | default('') }}
InitializationString={{ item.InitializationString | default('') }}
Language={{ item.Language | default('') }}
LoadBalanceTimeout={{ item.LoadBalanceTimeout | default('0') }}
LoadBalancing={{ item.LoadBalancing | default('0') }}
LoginTimeout={{ item.LoginTimeout | default('15') }}
LogonID={{ item.LogonID | default('') }}
MaxPoolSize={{ item.MaxPoolSize | default('100') }}
MinPoolSize={{ item.MinPoolSize | default('0') }}
PacketSize={{ item.PacketSize | default('-1') }}
Password={{ item.Password | default('') }}
Pooling={{ item.Pooling | default('0') }}
PortNumber={{ item.port | default('1433') }}
QueryTimeout={{ item.QueryTimeout | default('0') }}
ReportCodePageConversionErrors={{ item.ReportCodePageConversionErrors | default('0') }}
SnapshotSerializable={{ item.SnapshotSerializable | default('0') }}
TrustStore={{ item.TrustStore | default('') }}
TrustStorePassword={{ item.TrustStorePassword | default('') }}
ValidateServerCertificate={{ item.ValidateServerCertificate | default('1') }}
WorkStationID={{ item.WorkStationID | default('') }}
XML Describe Type={{ item.XML_Describe_Type | default('-10') }}
