
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMsyiq00.so
Description={{ __iimam_odbc.description | default('DataDirect Sybase IQ Wire Protocol Driver') }}
AlternateServers={{ __iimam_odbc.AlternateServers | default('') }}
ApplicationName={{ __iimam_odbc.ApplicationName | default('') }}
ApplicationUsingThreads={{ __iimam_odbc.ApplicationUsingThreads | default('1') }}
ArraySize={{ __iimam_odbc.ArraySize | default('50') }}
Charset={{ __iimam_odbc.Charset | default('') }}
CursorCacheSize={{ __iimam_odbc.CursorCacheSize | default('1') }}
Database={{ __iimam_odbc.database }}
DefaultLongDataBuffLen={{ __iimam_odbc.DefaultLongDataBuffLen | default('1024') }}
EnableDescribeParam={{ __iimam_odbc.EnableDescribeParam | default('0') }}
EnableQuotedIdentifiers={{ __iimam_odbc.EnableQuotedIdentifiers | default('0') }}
InitializationString={{ __iimam_odbc.InitializationString | default('') }}
Language={{ __iimam_odbc.Language | default('') }}
LogonID={{ __iimam_odbc.LogonID | default('') }}
MaxPoolSize={{ __iimam_odbc.MaxPoolSize | default('100') }}
MinPoolSize={{ __iimam_odbc.MinPoolSize | default('0') }}
NetworkAddress={{ __iimam_odbc.host }},{{ __iimam_odbc.port | default('2638') }}
OptimizePrepare={{ __iimam_odbc.OptimizePrepare | default('1') }}
PacketSize={{ __iimam_odbc.PacketSize | default('0') }}
Password={{ __iimam_odbc.Password }}
RaiseErrorPositionBehavior={{ __iimam_odbc.RaiseErrorPositionBehavior | default('0') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
