
[{{ __iimam_odbc.name }}]
Driver={{ ibm_infosvr_metadata_asset_mgr_install_location }}/Server/branded_odbc/lib/VMtxt00.so
Description={{ __iimam_odbc.description | default('DataDirect TextFile(*.*) Driver') }}
AllowUpdateAndDelete={{ __iimam_odbc.AllowUpdateAndDelete | default('0') }}
ApplicationUsingThreads={{ __iimam_odbc.ApplicationUsingThreads | default('1') }}
CacheSize={{ __iimam_odbc.CacheSize | default('4') }}
CenturyBoundary={{ __iimam_odbc.CenturyBoundary | default('20') }}
Database={{ __iimam_odbc.database }}
DataFileExtension={{ __iimam_odbc.DataFileExtension | default('TXT') }}
DecimalSymbol={{ __iimam_odbc.DecimalSymbol | default('.') }}
Delimiter={{ __iimam_odbc.Delimiter | default('') }}
FileOpenCache={{ __iimam_odbc.FileOpenCache | default('0') }}
FirstLineNames={{ __iimam_odbc.FirstLineNames | default('0') }}
IntlSort={{ __iimam_odbc.IntlSort | default('0') }}
ScanRows={{ __iimam_odbc.ScanRows | default('25') }}
TableType={{ __iimam_odbc.TableType | default('Comma') }}
UndefinedTable={{ __iimam_odbc.UndefinedTable | default('GUESS') }}
{% if __iimam_odbc.extras is defined %}
{% for param in __iimam_odbc.extras %}
{% for key, value in param.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}
