<?xml version="1.0" encoding="UTF-8"?>
<!--
###
# Copyright 2018 IBM Corp. All Rights Reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
-->
<ImportParameters bridgeDisplayName="IBM Cognos Content Manager" bridgeId="MITI/CognosRnRepository" bridgeVersion="9.1.0 - 2017-04-20 15:58:59" release="{{ ibm_infosvr_metadata_asset_mgr_installed_version_full }}">
  <Parameter displayName="Version" id="Version">
{% if item.item.cognos_version is defined %}
    <value>{{ item.item.cognos_version }}</value>
{% else %}
    <value>Auto detect</value>
{% endif %}
  </Parameter>
  <Parameter isRequired="true" displayName="Dispatcher URL" id="Dispatcher URL">
    <value>{{ item.item.dispatcher_url }}</value>
  </Parameter>
  <Parameter displayName="Namespace" id="Namespace">
{% if item.item.namespace is defined %}
    <value>{{ item.item.namespace }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="User name" id="User">
{% if item.item.username is defined %}
    <value>{{ item.item.username }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="Password" id="Password">
{% if item.item.password is defined %}
    <value>{{ item.stdout | trim }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="Content browsing mode" id="Content browsing mode">
{% if item.item.content_browsing_mode is defined %}
    <value>{{ item.item.content_browsing_mode }}</value>
{% else %}
    <value>All</value>
{% endif %}
  </Parameter>
  <Parameter isRequired="true" displayName="Assets to import" id="Content">
{% if item.item.assets_to_import is defined %}
    <value>{{ item.item.assets_to_import|e }}</value>
{% else %}
    <value>//*[@objectClass=&apos;query&apos; or @objectClass=&apos;report&apos; or @objectClass=&apos;model&apos;]</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Add dependent objects" id="Add dependent objects">
{% if item.item.dependent_objects is defined %}
    <value>{{ item.item.dependent_objects }}</value>
{% else %}
    <value>Packages referenced by selected reports</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Incremental import" id="Incremental import" type="BOOLEAN">
{% if item.item.incremental_import is defined %}
    <value>{{ item.item.incremental_import|capitalize }}</value>
{% else %}
    <value>True</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Folder representation" id="Folder representation">
{% if item.item.folder_representation is defined %}
    <value>{{ item.item.folder_representation }}</value>
{% else %}
    <value>Ignore</value>
{% endif %}
  </Parameter>
  <!-- Name and path of input file on the metadata interchange server.  To use a local computer file, leave this parameter value empty and specify the local file input option on the command line. -->
  <Parameter displayName="Transformer import configuration" id="Transformer import configuration">
{% if item.item.transformer_import_configuration_file is defined %}
    <value>{{ item.item.transformer_import_configuration_file }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="Multiple threads" id="Multiple threads">
{% if item.item.number_of_threads is defined %}
    <value>{{ item.item.number_of_threads }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="IBM InfoSphere Information Server version" id="AP_IBM InfoSphere Information Server version">
    <displayValue>11.5</displayValue>
    <value>115</value>
  </Parameter>
  <Parameter displayName="Import joins" id="AP_Import joins" type="BOOLEAN">
{% if item.item.import_joins|capitalize %}
    <value>{{ item.item.import_joins|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Import levels" id="AP_Import levels" type="BOOLEAN">
{% if item.item.import_levels %}
    <value>{{ item.item.import_levels|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Metadata consistency&#xa;check" id="model_consistency_check">
{% if item.item.metadata_consistency_check is defined and item.item.metadata_consistency_check == 'detailed' %}
    <displayValue>Detailed check</displayValue>
    <value>detailed</value>
{% elif item.item.metadata_consistency_check is defined and item.item.metadata_consistency_check == 'none' %}
    <displayValue>No check</displayValue>
    <value>none</value>
{% else %}
    <displayValue>Basic check</displayValue>
    <value>basic</value>
{% endif %}
  </Parameter>
  <Parameter displayName="If an asset description already exists" id="Asset_description_already_exists">
{% if item.item.existing_asset is defined and item.item.existing_asset == 'Keep_existing_description' %}
    <displayValue>Keep the existing description</displayValue>
    <value>{{ item.item.existing_asset }}</value>
{% else %}
    <displayValue>Replace the existing description</displayValue>
    <value>Replace_existing_description</value>
{% endif %}
  </Parameter>
  <Parameter isRequired="true" displayName="Host system name" id="AP_Host system name">
    <value>{{ item.item.hostname }}</value>
  </Parameter>
  <Parameter isRequired="true" displayName="Database name" id="AP_Database name">
    <value>{{ item.item.database_name }}</value>
  </Parameter>
  <Parameter displayName="Replace incorrect or missing database&#xa;name" id="AP_Replace incorrect or missing database name">
{% if item.item.database_name_override_bridge is defined and not item.item.database_name_override_bridge %}
    <displayValue>Use database name if bridge value is empty</displayValue>
    <value>Replace empty</value>
{% else %}
    <displayValue>Use database name to override bridge value</displayValue>
    <value>Override</value>
{% endif %}
  </Parameter>
  <Parameter isRequired="true" displayName="DBMS name" id="AP_DBMS name">
    <value>{{ item.item.dbms_name }}</value>
  </Parameter>
  <Parameter displayName="Replace incorrect or missing&#xa;DBMS name" id="AP_Replace incorrect or missing DBMS name">
{% if item.item.dbms_name_override_bridge is defined and not item.item.dbms_name_override_bridge %}
    <displayValue>Use DBMS name if bridge value is empty</displayValue>
    <value>Replace empty</value>
{% else %}
    <displayValue>Use DBMS name to override bridge value</displayValue>
    <value>Override</value>
{% endif %}
  </Parameter>
  <Parameter displayName="DBMS server instance&#xa;name" id="AP_DBMS server instance name">
{% if item.item.dbms_server_instance is defined %}
    <value>{{ item.item.dbms_server_instance }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="Schema name" id="AP_Schema name">
{% if item.item.schema_name is defined %}
    <value>{{ item.item.schema_name }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="Replace incorrect or&#xa;missing schema name" id="AP_Replace incorrect or missing schema name">
{% if item.item.schema_name_override_bridge is defined and not item.item.schema_name_override_bridge %}
    <displayValue>Use schema name if bridge value is empty</displayValue>
    <value>Replace empty</value>
{% else %}
    <displayValue>Use schema name to override bridge value</displayValue>
    <value>Override</value>
{% endif %}
  </Parameter>
</ImportParameters>