<?xml version="1.0" encoding="UTF-8"?>
<!--
###
# Copyright 2018 IBM Corp. All Rights Reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
-->
<ImportParameters bridgeDisplayName="IBM InfoSphere DB2 Connector" bridgeId="CAS/DB2Connector__9.1" bridgeVersion="9.1_1.0" release="{{ ibm_infosvr_metadata_asset_mgr_installed_version_full }}">
  <CompositeParameter isRequired="true" displayName="Data connection" id="DataConnection" type="DATA_CONNECTION">
    <Parameter isRequired="true" displayName="Name" id="dcName_">
      <value>{{ __iimam_cred.__iimam_ia.dcn.name }}</value>
    </Parameter>
    <Parameter displayName="Description" id="dcDescription_">
{% if __iimam_cred.__iimam_ia.dcn.description is defined %}
      <value>{{ __iimam_cred.__iimam_ia.dcn.description }}</value>
{% else %}
      <value></value>
{% endif %}
    </Parameter>
    <Parameter isRequired="true" displayName="Database/Location" id="Database">
      <value>{{ __iimam_cred.__iimam_ia.dcn.database }}</value>
    </Parameter>
    <Parameter displayName="User name" id="Username">
      <value>{{ __iimam_cred.__iimam_ia.dcn.username }}</value>
    </Parameter>
    <Parameter displayName="Password" id="Password">
      <value>{{ __iimam_cred.stdout | trim }}</value>
    </Parameter>
    <Parameter displayName="Instance" id="Instance">
{% if __iimam_cred.__iimam_ia.dcn.instance is defined %}
      <value>{{ __iimam_cred.__iimam_ia.dcn.instance }}</value>
{% else %}
      <value></value>
{% endif %}
    </Parameter>
  </CompositeParameter>
  <Parameter displayName="Include tables" id="includeTables" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.include_tables is defined %}
    <value>{{ __iimam_cred.__iimam_ia.include_tables|capitalize }}</value>
{% else %}
    <value>True</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Include views" id="includeViews" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.include_views is defined %}
    <value>{{ __iimam_cred.__iimam_ia.include_views|capitalize }}</value>
{% else %}
    <value>True</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Include nicknames" id="includeNicknames" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.include_nicknames is defined %}
    <value>{{ __iimam_cred.__iimam_ia.include_nicknames|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Include aliases" id="includeAliases" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.include_aliases is defined %}
    <value>{{ __iimam_cred.__iimam_ia.include_aliases|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="XML columns as LOBs" id="importXmlAsLob" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.include_xml_as_lob is defined %}
    <value>{{ __iimam_cred.__iimam_ia.include_xml_as_lob|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Include system objects" id="IncludeSystemObjects" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.include_system_objects is defined %}
    <value>{{ __iimam_cred.__iimam_ia.include_system_objects|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Import assets as&#xa;databases from z/OS" id="ImportAssetsAsDatabases" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.import_as_zos is defined %}
    <value>{{ __iimam_cred.__iimam_ia.import_as_zos|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Share only changed assets" id="PerformDeltaImport" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.perform_delta is defined %}
    <value>{{ __iimam_cred.__iimam_ia.perform_delta|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Schema name filter" id="SchemaNameFilter">
{% if __iimam_cred.__iimam_ia.schema_name_filter is defined %}
    <value>{{ __iimam_cred.__iimam_ia.schema_name_filter }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="Use regular expression in schema&#xa;name filter" id="UseRegexInSchemaNameFilter" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.use_regex_for_schema_name_filter is defined %}
    <value>{{ __iimam_cred.__iimam_ia.use_regex_for_schema_name_filter|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Table name filter" id="TableNameFilter">
{% if __iimam_cred.__iimam_ia.table_name_filter is defined %}
    <value>{{ __iimam_cred.__iimam_ia.table_name_filter }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="Assets to import" id="AssetsToImport">
{% if __iimam_cred.__iimam_ia.assets_to_import is defined %}
    <value>{{ __iimam_cred.__iimam_ia.assets_to_import|join(";") }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="Import schema structure" id="ImportSchemaStructure" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.import_schema_structure is defined %}
    <value>{{ __iimam_cred.__iimam_ia.import_schema_structure|capitalize }}</value>
{% else %}
    <value>True</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Import table structure" id="ImportTableStructure" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.import_table_structure is defined %}
    <value>{{ __iimam_cred.__iimam_ia.import_table_structure|capitalize }}</value>
{% else %}
    <value>True</value>
{% endif %}
  </Parameter>
  <Parameter displayName="Ignore table access&#xa;errors" id="IgnoreTableAccessErrors" type="BOOLEAN">
{% if __iimam_cred.__iimam_ia.ignore_table_access_errors is defined %}
    <value>{{ __iimam_cred.__iimam_ia.ignore_table_access_errors|capitalize }}</value>
{% else %}
    <value>False</value>
{% endif %}
  </Parameter>
  <Parameter displayName="If an asset description already exists" id="Asset_description_already_exists">
{% if __iimam_cred.__iimam_ia.existing_asset is defined and __iimam_cred.__iimam_ia.existing_asset == 'Keep_existing_description' %}
    <displayValue>Keep the existing description</displayValue>
    <value>{{ __iimam_cred.__iimam_ia.existing_asset }}</value>
{% else %}
    <displayValue>Replace the existing description</displayValue>
    <value>Replace_existing_description</value>
{% endif %}
  </Parameter>
  <Parameter isRequired="true" displayName="Host system name" id="AP_Host system name">
    <value>{{ __iimam_cred.__iimam_ia.hostname }}</value>
  </Parameter>
  <Parameter displayName="Database name" id="AP_Database name">
{% if __iimam_cred.__iimam_ia.database_name is defined %}
    <value>{{ __iimam_cred.__iimam_ia.database_name }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
  <Parameter displayName="DBMS server instance&#xa;name" id="AP_DBMS server instance name">
{% if __iimam_cred.__iimam_ia.instance_name is defined %}
    <value>{{ __iimam_cred.__iimam_ia.instance_name }}</value>
{% else %}
    <value></value>
{% endif %}
  </Parameter>
</ImportParameters>