{
  "projectName": "{{ outer_item.project }}",
{% if outer_item.steps is defined %}
  "jobSteps": "{{ outer_item.steps | join(',') }}",
{% else %}
  "jobSteps": "import,columnAnalysis,termAssignment,dataQualityAnalysis",
{% endif %}
  "dcRid": "{{ ibm_infosvr_metadata_asset_manager_existing_dcn.json['items'][0]._id }}",
  "importParameters": {
    "targetHost": "{{ outer_item.target_host }}"
{% if outer_item.parameters is defined %}
{% for key, value in outer_item.parameters.iteritems() %}
    , "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
  }
}
