{
  "projectName": "{{ __iimam_ds.project }}",
{% if __iimam_ds.steps is defined %}
  "jobSteps": "{{ __iimam_ds.steps | join(',') }}",
{% else %}
  "jobSteps": "import,columnAnalysis,termAssignment,dataQualityAnalysis",
{% endif %}
  "dcRid": "{{ ibm_infosvr_metadata_asset_manager_existing_dcn.json['items'][0]._id }}",
  "importParameters": {
    "targetHost": "{{ __iimam_ds.target_host }}"
{% if __iimam_ds.parameters is defined %}
{% for key, value in __iimam_ds.parameters.items() %}
    , "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
  }
}
